---
import { Image } from "astro:assets"
import logoDark from '../assets/yaLogoDark.png'
import logoLight from '../assets/yaLogoLight.png'

const { width, height, alt, dark=true } = Astro.props;
---

<div class="flex items-center">

  <Image 
    src={logoLight} 
    alt="Logo Light" 
    width={48} 
    height={48} 
    class="block dark:hidden" 
  />
  
  {/* Logo para el modo oscuro */}
  <Image 
    src={logoDark} 
    alt="Logo Dark" 
    width={48} 
    height={48} 
    class="hidden dark:block" 
  />
</div>
